.rodape-container{
    padding: 0 77px;
    display: flex;
    background: #FEA626;
    height: 236px;
    justify-content: space-between;
    align-items: center;
}

.rodape-coluna1{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    width: 264px;
    flex-direction: column;
}
.linha1{
    background: white;
    width: 31px;
    height: 1px;
}

.rodape-coluna2{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.linha2{
    background: white;
    width: 25px;
    height: 1px;
    margin-bottom: 5px;
}
.redes-sociais{
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.copyright h3, h4{
    color: #1E1E1E;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.copyright{
    margin-top: 15px;
}

.copyright{
    height: 55px;
}

.logo-meio{
    display: flex;
    position: absolute;
    top: 91%;
    left: 39%;
  }

/* Responsividade */
  @media (max-width: 768px) {
    .rodape-container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: auto;
    }
  
    .rodape-coluna1,
    .rodape-coluna2 {
      text-align: center;
    }
  
    .linha1{
        align-self: center;
        width: 25px;
        height: 1px;
    }
    .linha2 {
      display: none;
    }

     /* Esconder a logo em dispositivos móveis pq não soube fazer */
    .logo-meio {
      display: none;
    }
  }